.wrapper {
    display: flex;
    .article {
        margin-top: 100px;
        width: 55%;
        display: flex;
        flex-direction: column;
    }
    .title {
        font-size: 24px;
    }
    .description {
        font-size: 14px;
    }
    .info {
        display: flex;
        align-items: center;
        justify-content: space-around;
        .ceil {
            display: flex;
            flex-direction: column;    
        }
        hr {
            width: 2px; 
            height: 30%;
            background-color: #282e3a;
        }
    }
}


.more {
    color: rebeccapurple;
    background-color: yellow;
}
.void {
    width: 45%;
    height: 100%;

    background: linear-gradient(135deg, rgba(208,163,60,1) 0%, rgba(208,163,60,1) 23%, rgba(236,76,32,1) 23%, rgba(236,76,32,1) 35%, rgba(34,162,59,1) 35%, rgba(34,162,59,1) 65%, rgba(162,34,92,1) 65%, rgba(57,11,32,1) 87%, rgba(18,3,10,1) 87%);
}
