.wrapper {
    position: relative;
    display: flex;
    .article {
        padding: 100px 0;
        width: 55%;
        display: flex;
        flex-direction: column;
    }

    .title {
        font-size: 66px;
    }

    .description {
        padding: 50px 0;

        font-size: 16px;
        letter-spacing: 0.5px;
    }

    .info {
        margin-bottom: 50px;

        display: flex;
        align-items: center;
        justify-content: space-around;

        background-color: #20242f;
        .ceil {
            padding: 35px 0;

            letter-spacing: 0.5px;
            font-weight: 600;
            font-size: 24px;

            display: flex;
            flex-direction: column;
            align-items: center;
            span {
                padding-top: 10px;
            
                font-size: 16px;
            }
        }

        hr {
            width: 2px;
            height: 30%;
            background-color: #282e3a;
        }
    }

    .image {
        width: 40em;
        height: 100%;
        position: absolute;
    }
}