.S1 {
    position: relative;

    margin: 0 auto;
    width: 90%;

    color: #d2d6d7;
    letter-spacing: 0.5px;
    
    background-color: #0a0d14;
    background-size: contain;
    background-repeat: no-repeat;

    .img {
        position: absolute;
    
        width: 100%;
    }
}