.S1 {
    background: linear-gradient(180deg, rgba(117,116,129,1) 0%, rgba(36,36,67,1) 35%, rgba(10,13,20,1) 100%);
}
.ceil {
    width: 75px;
}
.header {
    color: white;
    height: 75px;
    :not(:last-child):hover {
        color: yellow;
    }
}
.headerSearch {
    width: 10%;
    cursor: pointer;
    
    input {
        padding: 5px;
        background-color: whitesmoke;
        border-radius: 10px;
    }
    img {
        width: 30px;
    }
}