.cards {
    width: 100%;
    padding: 20px 0;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.vertical {
    margin: 0 auto;
    flex-direction: column;
    & > * {
        padding: 20px 0;
    }
}